.login-page {
  background-color: black;
  background: url("../../assets/nightsky.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  .section-one {
    background: url("../../assets//cup-of-lights.jpg");
    background-size: cover;
    text-align: center;
    padding: 3em;
  }
}
.join-hero-title {
  font-weight: bolder;
  color: white;
  width: 100px;
  text-align: left;
}
.join-hero-caption{
  color: white;
  width: 300px;
  text-align: left;
}
.section-two{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
}