.search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin:0 1em;
  .search-input {
    width: 400px;
    height: 37px;
    padding: 0.2em 1em 0.2em 2em;
    outline: none;
    border: none;
    border-radius: 15px;
  }
  .suggestion-list {
    width: 400px;
    position: absolute;
    z-index: 100;
    top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: black;
    list-style-type: none;
    cursor: pointer;
    .list-item{
        :hover{
            background: grey;
        }
    }
  }
}
.profile-image{
  width: 40px; 
  height: 40px;
  object-fit: "cover";
}

@media only screen and (max-width: 600px) {
  .search-form {
    margin: 0;
    .search-input {
      width: auto;
    }
  }
}
@media only screen and (max-width: 400px) {
  .search-form {
    margin: 0;
    .search-input {
      width: auto;
      height: 30px;
      font-size: smaller;
      margin:0 3px;
    }
  }
  .profile-image{
    width: 25px; 
    height: 25px;
    object-fit: "cover";
  }
}
